<div id="menu" data-target="menu">
  <kano-nav assets-path="/blog/assets/images/kano-nav/">
      <kano-primary-links
        current-site="http://blog.kano.me"
        slot="primary"></kano-primary-links>
      <kano-secondary-links
        current-site="http://blog.kano.me"
        slot="secondary"></kano-secondary-links>
  </kano-nav-bar>
</div>
